* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: white;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  font-size: 1.5rem;
}

.nav-left h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-right a {
  margin-right: 1.5rem;
  text-decoration: none;
  color: #333;
  font-size: 0.95rem;
}

.nav-btn {
  background: #8b3fd1;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
}

/* HERO SECTION */
.hero {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-overlay {
  background: rgba(130, 50, 180, 0.65);
  padding: 4rem 2rem;
  max-width: 850px;
  border-radius: 12px;
}

.hero-tagline {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.hero h2 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 2rem;
}

/* HERO BUTTONS */
.hero-buttons button {
  margin: 0 0.5rem;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.primary-btn {
  background: white;
  color: #8b3fd1;
}

.secondary-btn {
  background: transparent;
  border: 2px solid white;
  color: white;
}

